<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>管理员主页</title>
</head>
<body th:fragment="navi">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">我的主页</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">员工</a></li>
                <li><a href="#">部门</a></li>
                <li><a href="#">出勤</a></li>
                <li><a href="/resume">简历</a></li>
                <li><a href="interviewList">面试</a></li>
                <li><a href="#">培训</a></li>
                <li><a href="#">奖惩</a></li>
                <li><a href="/logOut">登出</a></li>
                <!-- 留个样本
                <li class="dropdown">
                    <ul class="dropdown-menu">
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
<p/>

</body>
</html>