<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript">
        $(function () {
            //开始时间：
            $('#qBeginTime').datepicker({

                todayBtn : "linked",

                autoclose : true,

                todayHighlight : true,

                endDate : new Date()

            }).on('changeDate',function(e){

                var startTime = e.date;

                $('#qEndTime').datepicker('setStartDate',startTime);

            });
        })


    </script>-->
    <meta charset="UTF-8">
    <title>新面试</title>
</head>
<body>
<div th:include="~{/admin/adminHome::navi}"></div>
<p/>

<div style="background-color: #ddeeee; width: 80%; margin: 2px; padding: auto; text-align: center; margin-left: auto; margin-right: auto">

    <form action="admin/interview" method="post" role="form">
        <span style="font-size:14px;"><div class="col-md-6 cy-text-right-md">

	<div class="form-inline">

		<div class="form-group cy-mar-ver-s">

			<span class="cy-pad-hor-s">面试时间：</span>

		</div>

        <!--<div class="input-daterange input-group" id="datepicker">

            <input type="text" class="form-control" name="time" id="qBeginTime" />

        </div>-->

        <div>
            <input type="date" name="date"/>
            <input type="time" name="time"/>
        </div>

	</div>
<p><input type="text" name="interviewer" placeholder="面试官"/></p>
</div></span>


        <p>
            <button type="submit" class="btn-large" id="submit">发送邀请</button>
        </p>
        <input type="hidden" name="visitorId" th:value="${visitorId}"/>
    </form>

</div>

</body>
</html>