<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>简历</title>
</head>
<body>
<div th:include="~{/admin/adminHome::navi}"></div>

<div th:each="resume : ${resumes}" style="background-color: #ddeeee; width: 80%; margin: 2px; padding: auto; text-align: center; margin-left: auto; margin-right: auto">

    <a th:href="@{newInterview?visitorId=}+${resume.visitor.visitorId}" class="btn-toolbar">提供面试</a>

    <p>
        名字：<span th:text="${resume.visitor.name}"></span>
        &nbsp
        <span th:text="${resume.visitor.age}"></span>岁
        &nbsp
        <span th:text="${resume.visitor.gender}"></span>
    </p>
    <p>
        目标职位：<span th:text="${resume.position}"></span>
    </p>
    <p>正文：<span th:text="${resume.content}"></span></p>
</div>

</body>
</html>