<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>编辑简历</title>
</head>
<body>
<div th:include="~{/visitor/visitorHome::norm}"></div>
<p/>
<div style="background-color: #ddeeee; width: 80%; margin: 2px; padding: auto; text-align: center; margin-left: auto; margin-right: auto">

    <form action="/resume" method="post" role="form">
        <div class="form-group">
            <label form="name">你的梦想</label>
            <input type="text" class="form-control" name="position" placeholder="你敢应聘的职位" th:if="${resume!=null}" th:value="${resume.position}" required="required">
            <input type="text" class="form-control" name="position" placeholder="你敢应聘的职位" th:unless="${resume!=null}" required="required">
        </div>
        <div class="form-group">
            <label form="name">开始你的表演</label>
            <textarea class="form-control" name="content" placeholder="实事求是不必谦虚" th:if="${resume!=null}" th:text="${resume.content}" maxlength="3000" minlength="17" style="height: 300px; line-height: 5px"></textarea>
            <textarea class="form-control" name="content" placeholder="实事求是不必谦虚" th:unless="${resume!=null}" maxlength="3000" minlength="17" style="height: 300px; line-height: 5px"></textarea>
        </div>
        <button type="submit" class="btn btn-default" th:if="${resume!=null}" th:text="确认修改"></button>
        <button type="submit" class="btn btn-default" th:if="${resume==null}" th:text="投递简历"></button>
    </form>

</div>

</body>
</html>