<!DOCTYPE HTML>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF8">
    <title>游客登录</title>

    <script type="text/javascript">
        var isCommitted = false;
        function submit(){
            if(isCommitted==false){
                isCommitted = true;
                return true;
            }else{
                return false;
            }
        }
    </script>

</head>
<body>
<center>
    <h3>游客注册</h3><br>
    <div>
        <form action="/visitor" method="put" onsubmit="return submit()">
            <input type="text" placeholder="用户名" name="name"/><br>
            <input type="password" placeholder="密码" name="password"/><br>
            <input type="password" placeholder="重复密码" name="password"/><br>
            <input type="email" name="email"/><br>
            年龄<select name="age">
                <option th:each="i:${#numbers.sequence(15,75,1)}" th:value="${i}" th:text="${i}"/>
            </select><br>
            <input type="hidden" th:value="${session.loginToken}" name="loginToken">
            <button type="submit">注册</button>
        </form>
        <p th:text="${#httpServletRequest.getAttribute('res')}"></p>
    </div>
</center>
</body>
</html>