<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.hrmgr.mapper.DeptMapper">

    <select id="selectDeptById" parameterType="int" resultType="Dept">
        SELECT * FROM DEPTS WHERE VISITOR_ID=#{id}
    </select>

    <select id="selectDeptByName" parameterType="String" resultType="Dept">
        SELECT * FROM DEPTS WHERE NAME=#{name}
    </select>

    <insert id="insertDept" parameterType="Dept">
        INSERT INTO DEPTS (NAME) VALUES (#{name})
    </insert>

    <update id="updateDept">
        UPDATE DEPTS SET NAME=#{name} WHERE DEPT_ID=#{deptId}
    </update>

    <delete id="deleteDeptById">
        DELETE FROM DEPTS WHERE DEPT_ID=#{id}
    </delete>

</mapper>