<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.hrmgr.mapper.RecruitmentMapper">

    <resultMap type="com.iotek.hrmgr.entity.Recruitment" id="recruitmentRM">
        <id column="recruit_id" property="recruitId"/>
        <result column="demand" property="demand"/>
        <result column="number" property="number"/>
        <result column="available" property="available"/>
        <result column="pbdate" property="pbdate"/>

        <result column="position_id" property="position.positionId"/>
        <association property="position" column="position_id" javaType="Position" select="getPosition">
            <id column="position_id" property="positionId"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <select id="getPosition" parameterType="int" resultType="Position">
    SELECT * FROM POSITIONS WHERE POSITION_ID=#{id}
</select>

    <select id="selectRecruitmentById" parameterType="int" resultMap="recruitmentRM">
        SELECT * FROM RECRUITMENTS WHERRE RECRUIT_ID=#{id}
    </select>

    <select id="selectRecruitmentsByCondition" parameterType="String" resultMap="recruitmentRM">
        SELECT * FROM RECRUITMENTS R WHERE EXISTS (SELECT * FROM POSITIONS P WHERE P.`position_id`=R.`position_id` AND P.`name` LIKE CONCAT('%','${_parameter}','%' )) AND AVAILABLE=1
        UNION SELECT * FROM RECRUITMENTS R WHERE DEMAND LIKE CONCAT('%','${_parameter}','%' ) AND AVAILABLE=1
    </select>

    <select id="selectAllRecruitments" resultMap="recruitmentRM">
        SELECT * FROM RECRUITMENTS WHERE AVAILABLE=1
    </select>

    <select id="selectHistoricalRecruitments" resultMap="recruitmentRM">
        SELECT * FROM RECRUITMENTS
    </select>

    <insert id="insertRecruitment" parameterType="Recruitment">
        INSERT INTO RECRUITMENTS (POSITION_ID,DEMAND,NUMBER,AVAILABLE,PBDATE) VALUES (#{position.positionId},#{demand},#{number},#{available},#{pbdate})
    </insert>

    <update id="updateRecruitment" parameterType="Recruitment">
        UPDATE RECRUITMENTS SET
        DEMAND=#{demand},
        NUMBER=#{number},
        AVAILABLE=#{available},
        PBDATE=#{pbdate}
        WHERE RECRUIT_ID=#{recruitId}
    </update>

    <delete id="deleteRecruitmentById" parameterType="int">
        DELETE FROM RECRUITMENTS WHERE POSITION_ID=#{id}
    </delete>

</mapper>