<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>员工主页</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">我的主页</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">活儿</a></li>
                <li><a href="#">工资</a></li>
                <li><a href="#">请假</a></li>
                <li><a href="#">加班</a></li>
                <li><a href="#">出勤</a></li>
                <li><a href="#">培训</a></li>
                <li><a href="#">奖惩</a></li>
                <li><a href="#">辞职</a></li>
                <li><a href="/logOut">登出</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>